name: 自动部署到GitHub Page

on:
 push:
   branches:
     - docs
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: docs

      - name: Setup Node.js & Pnpm
        uses: actions/setup-node@v3
        with:
          node-version: '18.0.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build vitepress
        run: pnpm run docs:build

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          repository-name: yanjiliang/yanjiliang.github.io
          branch: gh-pages
          folder: docs/.vitepress/dist
